/*------------------------------------- 
  FOCUSED STYLESHEET FOR homepage.css
-------------------------------------*/
@media screen and (max-width: 500px) {
    body .navBar-hamburger-desktop {
        display:none;
    }
    body .navBar-hamburger-mobile {
        display:block;
    }
}
.navBar {
    width:100%;
    height:40px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content:center;
    border-bottom:2px solid black;
    background-color:rgba(255,255,255,0.5);
}
.navBar .logo {
    /* Put in URL of Luminare logo as bg-image :) */
}
.navBar .flex-spacer {
    flex-grow:1;
    flex-basis:0;
}
.navBar-hamburger-desktop {
    display:flex;
    align-items:center;
    height:40px;
}
.navBar-hamburger-mobile {
    height:40px;
    width:40px;
    display:none;
}
.navBar-hamburger-desktop a, .navBar-hamburger-mobile a {
    padding:10px 20px;
}
.navBar-hamburger-desktop a:hover, .navBar-hamburger-mobile a:hover {
    background-color:red;
}
.navBar-hamburger-mobile-burger {
    width:40px;
    height:40px;
    flex-basis:1;
    flex-shrink:0;
}
.navBar-hamburger-mobile-links a {
    width:100%;
    padding:10px 0;
    text-align:center;
}
.navBar-hamburger-mobile-links {
    display:flex;
    align-items:center;
    flex-direction:column;
    width:100px;
    transform:translatex(-60px);
    opacity:0;
    pointer-events:none;
    border:2px solid black;
    background-color:white;
}
.navBar-hamburger-mobile:hover .navBar-hamburger-mobile-links {
    opacity:1;
    pointer-events:all;
}
.largeSection {
    height:90vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.section {
    border-top:1px solid rgb(220,220,220);
    width:100%;
    height:50vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}