/*----------------------------------------- 
  FOCUSED STYLESHEET FOR indiv_spread.css
-------------------------------------------*/

/* Style the container */
.container {
  display: flex;
  align-items: center;  /* Align elements vertically in the center */
  justify-content: center; /* Center elements horizontally */
  width: 80%;  /* Adjust container width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  border: 1px solid #ddd; /* Optional: To visualize the container */
}

/* Style the arrow buttons */
.arrow {
  background-color: transparent;
  border: none;
  font-size: 2em; /* Adjust arrow size as needed */
  cursor: pointer; /* Indicate clickable button */
  padding: 100px;
}

.pic {
  padding: 50px;
  width: 500px;
  height: 666.5px;
}

.left {
  /* Style the left arrow button specifically */
}

.right {
  /* Style the right arrow button specifically */
}

/* Style the content area */
.content {
  display: flex; /* Enable flexbox for content elements */
  align-items: center; /* Align image and text vertically */
}

/* Style the image container */
.content img {
  width: 30%; /* Adjust image width as needed */
  margin-right: 20px; /* Add margin for spacing between image and text */
}

/* Style the text container */
.text-container {
  width: 60%; /* Adjust text container width as needed */
  text-align: center; /* Justify the text within the container */
}
.name {
  text-decoration: underline;
}
.quote {
  text-align: justify;
}
.author {
  text-align: right;
}
.hidden-content{
  min-height: 100vh;
  display: flex;
  width: 80%;  /* Adjust container width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  border: 1px solid #ddd; /* Optional: To visualize the container */
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.hidden-content-text-container{
  width: 60%; /* Adjust text container width as needed */
  text-align: center; /* Justify the text within the container */
}


.hidden-content.active{
  transform: translateY(0px);
  opacity: 1;
}