/*------------------------------------- 
           GLOBAL STYLESHEET
-------------------------------------*/
/* -------------- IMPORTS ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

/* -------------- VARIABLES ---------------- */
:root {
    /*------- Colors -------*/
    --c-header:rgb(255,255,255);
    --c-paragraph:rgb(255,255,255);
    --c-accent1:#F9C95E;
    /*Faint accent colors*/
    --c-accent-f-1:rgba(255, 174, 0,1);
    --c-accent-f-2:rgba(255, 0, 21,0.6);
    --c-accent-f-3:rgba(15, 36, 231,0.9);
    --c-accent-f-4:rgba(0, 182, 121,1);
    /*Fainter accent colors*/
    --c-accent-ff-1:rgba(255, 174, 0,0.5);
    /*Nice colors*/
    --c-1:#FCF5D4;
    --c-2:#E665A4;
    --c-3:#EA9648;
    --c-4:#E7C145;
    --c-5:#A8E540;
    --c-6:#A4F3E0;
    /*Background colors*/
    --c-bg1:#452057;
    --c-bg2:#190C35;
}

/* -------------- GENERAL STYLES ---------------- */
body {
    margin:0;
    font-size:20px;
    background-image:linear-gradient(var(--c-bg1) 0%, var(--c-bg2) 33%, var(--c-bg1) 66%, var(--c-bg2) 100%);
    overflow-x:hidden;
}
.hidden {
    display:none;
}
h1 {
    font-family:"Gotham", "Figtree", sans-serif;
    font-weight:800;
    font-size:3em;
    color:var(--c-header);
    margin-bottom:5px;
}
h2, h3, h4, h5, h6 {
    font-family:"Montserrat", sans-serif;
    font-weight:700;
    /*font-size:1.5em;*/
    color:var(--c-header);
}
p, button, span {
    font-family:"Avenir", "Sen", sans-serif;
    font-weight:400;
    font-size:1em;
    color:var(--c-paragraph);
}
a {
    font-family:"Avenir", "Sen", sans-serif;
    font-weight:400;
    font-size:1em;
    color:rgb(255,255,255);
    text-decoration:none;
}
.navBar a{
    opacity:50%;
}
.navBar a:hover, .navBar a.selected, .navBar a[href="../homepage/homepage.html"]{
    opacity:100%;
}
.navBar > a:visited{
    color:rgb(255,255,255);
}
.logo{
    color: #f9c95e;
}
.navBar a[href="../homepage/homepage.html"]:hover{
    text-shadow: 0 0 15px #f9c95e;
}

.header-font {
    font-family:"Montserrat", sans-serif;
    font-weight:800;
}
.header-glow {
    text-shadow:0 0 10px rgb(255,255,255),
                -10px -10px 30px var(--c-accent-f-1),
                -10px -10px 100px var(--c-accent-f-1),
                20px 15px 30px var(--c-accent-f-2),
                -20px 10px 30px var(--c-accent-f-3),
                10px -20px 30px var(--c-accent-f-4);
}
.header-glow::after {
    content: attr(text-content);
    position: absolute;
    top: 0;
    left: 0;
    color: inherit;
    text-shadow: none;
}


/* -------------- NAVBAR STYLING ---------------- */
@media screen and (max-width: 700px) {
    body .navBar-hamburger-desktop {
        display:none;
    }
    body .navBar-hamburger-mobile {
        display:block;
    }
}
.mainSection {
    padding-top:40px;
    overflow:hidden;
}
.logo {
    font-family:"Gotham", "Figtree", sans-serif;
    font-weight:800;
    font-size:3em;
    font-size:27px;
    font-weight:bold;
    margin-left:7px;
    margin-top:3px;
}
.navBar {
    width:100%;
    height:50px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content:center;
    z-index:1000;
}
.navBar::before {
    content:"";
    display:block;
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    background-color:rgba(0,0,0,0.5);
    mask-image:linear-gradient(0deg, transparent 0%, black 20%);
    width:100%;
    height:100%;
}
.navBar .logo {
    /* Put in URL of Luminare logo as bg-image :) */
}
.navBar .flex-spacer {
    flex-grow:1;
    flex-basis:0;
}
.navBar-hamburger-desktop {
    display:flex;
    align-items:center;
    height:40px;
}
.navBar-hamburger-mobile {
    height:40px;
    width:40px;
    display:none;
}
.navBar-hamburger-desktop a, .navBar-hamburger-mobile a {
    padding:10px 20px;
}
.navBar-hamburger-desktop a:hover, .navBar-hamburger-mobile a:hover, a.selected {
    background-color:black;
    color:white;
}
.navBar-hamburger-mobile-burger {
    width:40px;
    height:40px;
    flex-basis:1;
    flex-shrink:0;
}
.navBar-hamburger-mobile-links a {
    width:100%;
    padding:10px 0;
    text-align:center;
}
.navBar-hamburger-mobile-links {
    display:flex;
    align-items:center;
    flex-direction:column;
    width:200px;
    transform:translatex(-150px);
    opacity:0;
    pointer-events:none;
    background:rgba(0,0,0,0.5);
    background-size:300%;
    position:relative;
    top:-7px;
    background-position:right;
    padding-bottom:10px;
    mask-image:linear-gradient(0deg, transparent 0%, black 5%, black 95%, transparent 100%);
}
.navBar-hamburger-mobile:hover .navBar-hamburger-mobile-links {
    opacity:1;
    pointer-events:all;
}

.sectionCont {
    cursor: pointer;
}

.largeSection {
    height:90vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.largeSection.landing {
    background:radial-gradient(#190C35 0%, transparent 100%);
}
.largeSection.landing .stars {
    width:100%;
    margin-top:-50px;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background-image:url("resources/img/stars.png");
    background-size:30%;
    mask-image:radial-gradient(transparent 30%, white 100%);
}
.section {
    border-top:1px solid rgb(220,220,220);
    width:100%;
    min-height:75vh;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    flex-direction:column;
    padding:50px 10%;
    box-sizing:border-box;
}
.divLink:nth-child(odd) .section {
    align-items:flex-start;
}
.section h2 {
    font-size:100px;
    line-height:80px;
}
.sectionText {
    position:relative;
}
.sectionText:before {
    content:"";
    display:block;
    position:absolute;
    width:1000px;
    height:1000px;
    background-image:url("./resources/img/PLACEHOLDER_GALAXY1.jpg");
    opacity:0.5;
    background-position:center;
    mask-image:radial-gradient(ellipse, black 0%, transparent 65%);
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:-1;
}
.section h3 {
    z-index:1;
    font-size:40px;
}
.section * {
    margin:0;
}
.innerSection {
    height:100%;
    display:flex;
    flex-direction:column;
    width:100%;
}
.section.centered {
    align-items:center;
}
.facultySubsection {
    width:100%;
    height:180px;
    display:flex;
    align-items:flex-end;
    padding:20px;
    box-sizing:border-box;
}
body .facultySection {
    padding:40px 10%;
    height:100vh;
}
.facultySubsection.img1 {
    background-image:url("./resources/img/PLACEHOLDER_GALAXY1.jpg");
}
.facultySubsection.img2 {
    background-image:url("./resources/img/PLACEHOLDER_GALAXY2.jpg");
}
.facultySubsection.img3 {
    background-image:url("./resources/img/PLACEHOLDER_GALAXY3.jpg");
}

.burger {
    width:calc(100% - 5px);
    height:5px;
    margin-top:7px;
    border-radius:5px;
    background-color:white;
    box-shadow:0 10px 0 white,
               0 20px 0 white;
}