/*----------------------------------------- 
  FOCUSED STYLESHEET FOR indiv_spread.css
-------------------------------------------*/

.mainSection {
  padding-top:0;
  display:flex;
  justify-content:center;
  padding-bottom:80px;
  position:relative;
  flex-direction:column;
}
.brightSection, .personalInfoSection, .writeupSection {
  height:95vh;
  box-sizing:border-box;
  padding:20px;
}
.brightSection {
  padding-top:50px;
  background-color:red;
  background-image:linear-gradient(30deg,
      var(--c-1) 15%, 
      var(--c-2) 30%, 
      var(--c-3) 45%, 
      var(--c-4) 60%, 
      var(--c-5) 75%, 
      var(--c-6) 90%,
      var(--c-1) 100%
  );
}
.image1 {
  background-image:url(temp/LANCE_TOGA.jpg);
}
.image2 {
  background-image:url(temp/LANCE_BARONG.jpg);
}
.image3 {
  background-image:url(temp/LANCE_SEMIFORMAL.jpg);
}
.image4 {
  background-image:url(temp/LANCE_CREATIVE.jpg);
}
.images {
  display:flex;
  overflow-x:scroll;
  overflow-y:hidden;
}
.images > div {
  height:60vh;
  aspect-ratio:6/8.5;
  margin-left:auto;
  margin-right:auto;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}
.brightSection h1 {
  line-height:0.8em;
  margin:10px 0;
  color:black;
}
.starsBg {
  background-image:url(../../resources/img/stars.png);
  background-size:30%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:inherit;
  position:absolute;
  z-index:-1;
  mask-image:radial-gradient(ellipse, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%)
}
.imageMain, .imageSeries {
  background-size:cover;
  background-position:center;
}
.imageMain {
  width:300px;
  aspect-ratio:3/4;
  border-radius:10px;
}
.imageSeries {
  width:300px;
  aspect-ratio:3/5;
}
.imageSeriesContainer {
  display:flex;
  flex-wrap:wrap;
}
.nameHeader {
  text-shadow:-5px 5px 0 var(--c-accent-ff-1);
  margin-bottom:0;
}
.writeupHeader {
  color:var(--c-accent-f-1);
}
.writerName {
  color:var(--c-accent-f-1);
  font-weight:bold;
  font-style:italic;
  text-align:right;
}
.quote {
  font-weight:bold;
  font-style:italic;
  color:var(--c-accent-f-1);
}
.extracurriculars {
  font-weight:bold;
}
.pageOne {
  display:flex;
  width:70vw;
  column-gap:40px;
  flex-wrap:wrap;
  justify-content:center;
}
.pageOne .left {
  width:300px;
}
.pageOne .right {
  flex-basis:0;
  flex-grow:1;
}
.constellation {
  background-image:url(temp/CONSTELLATION_PLACEHOLDER.png), radial-gradient(circle, rgba(255,248,179,0.5) 0%, rgba(0,0,0,0) 70%);
  width:30vw;
  aspect-ratio:1/1;
  background-size:contain;
  position:relative;
  background-repeat:no-repeat;
}
.constellationName {
  position:absolute;
  top:100%;
  margin:0;
  left:50%;
  transform:translatex(-50%);
  font-weight:bold;
}
.constellationSection {
  flex-grow:1;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:60px;
  flex-wrap:wrap;
  row-gap:30px;
  column-gap:30px;
}
.pages {
  border:1px solid rgba(255,255,255,0.5);
  padding:30px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.arrowLeft, .arrowRight {
  font-size:50px;
  font-weight:bold;
  color:white;
  position:fixed;
  top:50%;
  user-select:none;
  transition:0.3s filter;
  filter:drop-shadow(0 0 5px black) drop-shadow(0 0 5px black) drop-shadow(0 0 10px black);
}
.arrowLeft:hover, .arrowRight:hover {
  filter:drop-shadow(0 0 5px white) drop-shadow(0 0 10px white) drop-shadow(0 0 20px white);
}
.arrowChar, .arrowName {
  margin:0;
}
.arrowName {
  font-size:0.5em;
}
.arrowLeft {
  left:10px;
  text-align:left;
}
.arrowRight {
  right:10px;
  text-align:right;
}
.pageTwo {
  max-width:900px;
  margin-top:100px;
}
.imageSeriesContainer {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}

.image-card{
  border-radius: 1vmin;
  width:300px;
  position:absolute;
  aspect-ratio:3/4;
  transition: transform 800ms cubic-bezier(.05, .43, .25, .95);
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
}

.image-card:nth-child(1){
  transform: translateX(-10%) rotate(-3deg);
  background-image:url(temp/LANCE_CREATIVE.jpg);
}

.image-card:nth-child(2){
  background-image:url(temp/LANCE_BARONG.jpg);
}

.image-card:nth-child(3){
  transform: translateX(10%) rotate(3deg);
  background-image:url(temp/LANCE_SEMIFORMAL.jpg);
}

.image-card:nth-child(4){
  transform: translateX(20%) rotate(5deg);
  background-image:url(temp/LANCE_TOGA.jpg);
}
.card-group:hover > .image-card:nth-child(1){
  transform: translateX(-70%) translateY(15%) rotate(-20deg);
}
.card-group:hover > .image-card:nth-child(2){
  transform: translate(-25%) translateY(5%) rotate(-8deg);
}

.card-group:hover > .image-card:nth-child(3){
  transform: translate(25%) translateY(5%) rotate(8deg);
}

.card-group:hover > .image-card:nth-child(4){
  transform: translate(70%) translateY(15%) rotate(20deg);
}

.studentInfo{
  margin-top: 435px;
}

