body {
    margin-bottom: 200px;
}

#silids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: px;
}

.silid {
    margin: 50px;
    display: grid;
    column-gap: 50px;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;
    align-items: left;
}

.silidName {
    font-size: 2em;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.silidPicture {
    max-width: 750px;
    border-radius: 10px;
}

.silidMessage {
    font-size: 1em;
}